{% extends "base.layout.tmpl" %} {% block content %}
<div class="container">
  <h2 class="new-task-title text-center">新規作成</h2>
  <form method="" action="" class="" novalidate>
    <div class="new-task">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >タイトル</label
        >
        <input
          type="title"
          class="form-control"
          id="exampleFormControlInput1"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">詳細</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="5"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >優先度</label
        >

        <select class="form-select" aria-label="Default select example">
          <option selected>優先度を選択</option>
          <option value="1">高</option>
          <option value="2">中</option>
          <option value="3">低</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">期日</label>
        <input
          type="text"
          class="form-control"
          id="due-date"
          placeholder="YYYY-MM-DD"
        />
      </div>

      <input type="submit" class="btn btn-primary float-end" value="保存" />
    </div>
  </form>
</div>
{% endblock %} {% block js %}
<script>
  const elem = document.getElementById("due-date");
  const datepicker = new Datepicker(elem, {
    format: "yyyy-mm-dd",
    minDate: new Date(),
  });
</script>
{% endblock %}
