{% extends "base.layout.tmpl" %} {% block content %}
<div class="container">
  {% for task in tasks %}
  <div class="card">
    <div class="card-header">
      <div>
        優先度: {{ task.priority }}
        <div class="float-end">
          あと{{ calc_remaining_days(task.due_date) }}日
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <a href="/tasks/{{ task.id }}" class="btn btn-outline-primary"
        ><i class="bi bi-pencil"></i>編集</a
      >

      <button
        class="btn btn-outline-success"
        type="button"
        onclick="completedTaskById({{ task.id }})"
      >
        <i class="bi bi-check2-circle"></i>完了
      </button>

      <button
        class="btn btn-outline-danger float-end"
        type="button"
        onclick="disableTaskByID({{ task.id }})"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block js %}
<script>
  function completedTaskById(taskId) {
    var formData = new FormData();
    formData.append("task_id", taskId);
    fetch("/tasks/" + taskId + "/completed", {
      method: "PUT",
      body: formData,
      redirect: "follow",
    }).then((response) => {
      if (response.ok) {
        console.log("ok");
        window.location.href = "/tasks";
      }
    });
  }

  function disableTaskByID(taskId) {
    var formData = new FormData();
    formData.append("task_id", taskId);
    fetch("/tasks/" + taskId + "/disabled", {
      method: "PUT",
      body: formData,
      redirect: "follow",
    }).then((response) => {
      if (response.ok) {
        console.log("ok");
        window.location.href = "/tasks";
      }
    });
  }
</script>
{% endblock %}
